.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1150px;
    max-width: 100%; // Nếu kích thước màn hình nhỏ hơn 1150 thì mó lấy full 100%
    min-height: 1000px;
    margin-top: var(--default-layout-header-height, 60px);
    display: flex;
}

.content {
    flex: 1; // chiếm hết khoảng không còn lại sau khi trừ sidebar
    background-color: yellowgreen;
    min-height: 1000px;
}